{
    "jsonrpc": "2.0",
    "method": "user.login",
    "params": {
        "user": "{{ VAR_Zabbix40AG_Username }}",
        "password": "{{ VAR_Zabbix40AG_Password }}"
    },
    "id": 1,
    "auth": null
}

